body { 
    margin:0; 
    padding:0; 
}
#map { 
    position: absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0; 
}
.cont-pad{
    padding-left: 0px;
}
.map {
    height: 700px;
    width: 100%;
}