<div class=" cont-pad">
    <div class="row">
        <div class="col-md-2 side-bar">
            <a [routerLink]="['/component']">
                Components
            </a>
        </div>

        <div class="col-md-2 side-bar">
            <a [routerLink]="['/latlng']">
                Latitude Longitude
            </a>
        </div>

        <div class="col-md-2 side-bar">
            <a [routerLink]="['/lgroup']">
                Layer Group MapBox
            </a>
        </div>

        <div class="col-md-2 side-bar">
            <a [routerLink]="['/esri']">
                Plug In ESRI
            </a>
        </div>

        <div class="col-md-2 side-bar">
            <a [routerLink]="['/provider']">
                Plug In provider
            </a>
        </div>
        <div class="col-md-2 side-bar">
                <a [routerLink]="['/gmap']">
                    Google Map
                </a>
        </div>
    </div>
    
    <div class="row">
            <div class="col-md-4 side-bar">
                    <a [routerLink]="['/gmap1']">
                        Google Map
                    </a>
            </div>
            <div class="col-md-4 side-bar">
                    <a [routerLink]="['/gmap2']">
                        Google Map
                    </a>
            </div>
            <div class="col-md-4 side-bar">
                    <a [routerLink]="['/mapserver']">
                        MAPSERVER
                    </a>
            </div>
    </div>
</div>


<router-outlet></router-outlet>